global
    log stdout format raw local0
    maxconn 4096
    daemon

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 5s
    timeout client  86400s
    timeout server  86400s
    timeout check 5s
    retries 3

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s
    hold nx 3s
    hold other 3s
    hold refused 3s
    hold timeout 3s

frontend ft_chorus
    bind *:8080
    default_backend bk_chorus

backend bk_chorus
    balance leastconn
    option httpchk GET /health
    http-check expect status 200
    default-server inter 5s rise 2 fall 3 maxconn 1000 maxqueue 256 check resolvers docker init-addr none
    server-template chorus 6 backend:8080 check resolvers docker init-addr none

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats show-legends
